@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
margin: 0;
padding: 0;
}

:root{

--verde-forte: rgb(60, 114, 71);
--azul-forte: rgba(91, 104, 242, 0.87);
--verde-fraco: rgb(176, 213, 88);
--azul-medio: rgba(76, 77, 128, 0.354);
--font-texto:"Inter", sans-serif;
--font-titulo: "Oswald", sans-serif;

}